div.question {
    display: flex;
    flex-direction: row;
  
    width: 100%;
  }

div.question div.content {
    overflow: hidden;
    margin-left: 20px;
  
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    border-top: 1px solid #999;

    padding-left: 10px;
    padding-bottom: 10px;
  
    width: 100%;
  }
  
div.question div.content h2 {
    color: #0FAEA5;
  }