a {
    font-size: 24pt; /* Размер шрифта в пунктах */
    font-family: Georgia, Times, serif; /* Семейство шрифтов */
    font-weight: normal; /* Нормальное начертание текста  */
    text-align: center; /* Выравнивание по ширине */
    margin-top: 50px
  }

  button.ask_question {
    margin-right: 60px;
    margin-bottom: 0px;
    width: 150px;
    height: 50px;
    float: right;
    background-color: #3793C7;
    color: #FFFFFF;
}

div.questions {
    display: flex;
    flex-direction: column;
    margin-bottom: 155px;

    width: 100%;
}

div.questions hr {
  width: 100%;
  text-align: left;
}

div.questions div.question {
  display: flex;
  flex-direction: row;

  width: 100%;
}

div.questions div.question div.content {
  overflow: hidden;
  margin-left: 20px;

  border-left: 1px solid #999; /* Параметры линии слева */
  border-bottom: 1px solid #999; /* Параметры линии снизу */
  border-right: 1px solid #999; /* Параметры линии слева */
  border-top: 1px solid #999; /* Параметры линии снизу */

  padding-left: 10px; /* Отступ от линии слева до текста  */
  padding-bottom: 10px;

  width: 100%;
}

div.questions div.question div.content h2 {
  color: #0FAEA5;
}