p.author {
    text-align: right;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.buttons button.delete_button {
    width: 100px;
    height: 40px;
    display: block;
    background-color:#D11A2A;
    color: #FFFFFF;
}

.buttons button.edit_button {
  width: 100px;
  height: 40px;
  display: block;
  background-color: #2AD11A;
  color: #FFFFFF;
}