  body {
    overflow: scroll;
    font-family: Arial, Verdana,  sans-serif; /* Семейство шрифтов */
    font-size: 11pt; /* Размер основного шрифта в пунктах  */
    background-color: #73DC7E; /* Цвет фона веб-страницы */
    color: #333; /* Цвет основного текста */ 
  }
  
  h1 {
    font-size: 24pt; /* Размер шрифта в пунктах */
    font-family: Georgia, Times, serif; /* Семейство шрифтов */
    font-weight: normal; /* Нормальное начертание текста  */
    text-align: justify; /* Выравнивание по ширине */
    margin: 60px 200px 10px;
  }
  
  .review {
      border-left: 1px solid #999; /* Параметры линии слева */
      border-bottom: 1px solid #999; /* Параметры линии снизу */
      border-right: 1px solid #999; /* Параметры линии слева */
      border-top: 1px solid #999; /* Параметры линии снизу */
  
      background-color: #FFFFFF;
  
      margin: 0px 200px 10px;
  
      padding: 12px 20px 20px;
  }
  
  .review p.author {
    text-align: right;
  }
  
  .review form.wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .review form.wrapper button {
      width: 180px;
      height: 40px;
      display: block;
      background-color: #3793C7;
      color: #FFFFFF;
  }
  
  .review form.wrapper textarea {
    font-size: 18px;
    padding: 12px 20px 20px;
  }