a {
    font-size: 24pt;
    font-family: Georgia, Times, serif;
    font-weight: normal;
    text-align: center;
    margin-top: 50px;
}

div.questions {
    display: flex;
    flex-direction: column;
    margin-bottom: 155px;

    width: 100%;
}

div.questions hr {
  width: 100%;
  text-align: left;
}

button.ask_question {
  margin-right: 60px;
  margin-bottom: 0px;
  width: 150px;
  height: 50px;
  float: right;
  background-color: #3793C7;
  color: #FFFFFF;
}

div.questions div.question {
  display: flex;
  flex-direction: row;

  width: 100%;
}

div.questions div.question div.content {
  overflow: hidden;
  margin-left: 20px;

  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  border-top: 1px solid #999;

  padding-left: 10px;
  padding-bottom: 10px;

  width: 100%;
}

div.questions div.question div.content h2 {
  color: #0FAEA5;
}