.wrapper {
    display: flex;
    flex-direction: column;
  }
  
.wrapper button {
      width: 180px;
      height: 40px;
      display: block;
      background-color: #3793C7;
      color: #FFFFFF;
  }

.wrapper textarea {
    font-size: 18px;
    padding: 12px 20px 20px;
  }